spring:
  application:
    mail:
      host: smtp.gmail.com
      port: 587
      username: ${MAIL_USERNAME}
      password: ${MAIL_PASSWORD}
      properties:
        mail.smtp.auth: true
        mail.smtp.starttls.enable: true
    name: Banking-System
    data:
      mongodb:
        uri: ${MONGODB_URI}
        host: localhost
        port: 27017
        database: banking_db
        auto-index-creation: true
server:
  port: 8080
jwt:
  secret: 234567890ytrdcvbvcxsw23456789iok
  expiration: 86400000

logging:
  level:
    org.springframework.security: INFO
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
